.multiselect-container {
  border: 1px solid #ced4da;
  border-radius: 4px;

  input {
    border: none;
    outline: none;
    box-shadow: none !important;
    cursor: pointer;
  }
}

.multi-select-drop-down {
  border: 1px solid #f6a05e;
  box-shadow: 0px 2px 5px #f6a05e;
  position: absolute;
  min-width: 100%;
  background-color: white;
  max-height: 150px;
  overflow-x: auto;
}

.multi-select-drop-down-container {
  position: relative;

  .top {
    bottom: 40px;
  }
}

.multi-select-drop-down-item {
  background: white;
  padding: 0 0 0 20px;
  cursor: pointer;
}

.multi-select-drop-down-item:hover {
  background: #de6c20;
  color: white;
}


.multi-select-selected-list {
  display: flex;
  flex-wrap: wrap;

  .item {
    background: #ffffff;
    border-radius: 4px 0 0 4px;
    color: black;
    margin: 0px 4px 4px 4px;
    border: 1px solid #b8b5ac;
    white-space: nowrap;
    display: flex;

    .name {
      padding: 0 5px;
    }

    .deselect {
      background-color: #ffa6a6;
      color: black;
      padding: 0 8px;
      cursor: pointer;
    }

    .deselect:hover {
      background-color: #d21d1d;
      color: white;
    }
  }
}


.input_readonly {
  color: black !important;
  background-color: white !important;
  border-radius: 4px;
}

.btn-switch {
  font-size: 18px !important;
}
