# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/frontend/dist/
/frontend/tmp/

# dependencies
/frontend/bower_components/
/frontend/node_modules/

# misc
/frontend/.env*
/frontend/.pnp*
/frontend/.sass-cache
/frontend/connect.lock
/frontend/coverage/
/frontend/libpeerconnection.log
/frontend/npm-debug.log*
/frontend/testem.log
/frontend/yarn-error.log
.phpunit.result.cache

# ember-try
/frontend/.node_modules.ember-try/
/frontend/bower.json.ember-try
/frontend/package.json.ember-try

/api/config/config.env
/api/.htaccess
.idea/
/.idea/workspace.xml
.Trash-100/
node_modules
/data/mysql/*
/data/postgres
/data/mysql_test/*
/data/redis/*
/data

.nas/
__pycache__
*.private
.env
