<span class="fancy-type">
  {{#if (eq type "tg")}}
    <span class="tg">{{fa-icon "paper-plane"}}</span>
  {{/if}}
  {{#if (eq type "email")}}
    <span class="mail">{{fa-icon "envelope"}}</span>
  {{/if}}
</span>