<span class="fancy-type">
  {{#if (eq type "tg")}}
    <span class="tg"><FaIcon @icon="paper-plane"/></span>
  {{/if}}
  {{#if (eq type "email")}}
    <span class="mail"><FaIcon @icon="envelope"/></span>
  {{/if}}
</span>
