{{#modal-dialog translucentOverlay=true}}
  <div class="header">Уведомление #{{model.id}}?</div>
  <div class="body">
    <List::Show @model={{model}} />
  </div>
  <div class="buttons-bar">
    <div class="btn btn-outline-warning" >Редактировать</div>
    <div class="btn btn-outline-secondary" {{action 'onClose'}}>Закрыть</div>
  </div>
{{/modal-dialog}}
