<div class="navigation-container d-flex justify-content-between">

  <div class="navigation-container d-flex flex-row">
    <Navigation::Logo />

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn active btn-navigation">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Уведомлеия
      </label>

      <label class="btn btn-navigation">
        <input type="radio" name="options" id="option2" autocomplete="off"> Создать новое
      </label>
    </div>
  </div>

</div>