<div class="navigation-container d-flex justify-content-between">

  <div class="navigation-container d-flex flex-row">
    <Navigation::Logo />
    <LinkTo @route="manage.list" class="btn btn-navigation">
      Уведомлеия
    </LinkTo>

    <LinkTo @route="manage.new" class="btn btn-navigation">
      Создать новое
    </LinkTo>
  </div>

</div>