<div class="nav-backplate"></div>
<nav class="navbar navbar-expand-md navbar-light bg-orange navbar-custom">
  <a class="navbar-brand d-flex" href="#">
    <span class="nav-name">
      Notifier
    </span>
  </a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" {{action onSelectNav}}>
        <LinkTo @route="manage.notifications" class=" btn-navigation">
          Уведомлеия
        </LinkTo>
      </li>
      <li class="nav-item"  {{action onSelectNav}}>
        <LinkTo @route="manage.acceptors" class=" btn-navigation">
          Получатели
        </LinkTo>
      </li>
    </ul>
      <div class="nav-profile nav-item dropdown" {{action onDropdown}}>
        <a class="dropdown-toggle btn-navigation" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Профиль
        </a>
        <div id="nav-dropdown" class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
            <LinkTo @route="auth.logout" class="dropdown-item">
              Выйти
            </LinkTo>
        </div>
      </div>
  </div>
</nav>
