// @import "bootstrap";
@import "auth";
@import "flex";

@import "components/style.scss";
@import "components/new/style.scss";
@import "components/list/style.scss";
@import "components/navbar/style.scss";


body {
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
  background: rgba(255, 255, 255, 0.0);
}

.error{
  background-color: rgb(247, 110, 110);
}
.info{
  background-color: rgb(108, 201, 80);
}

a {
  color: black;    
}
