.notify-text {
  height: 100px !important;
  resize: none;
}

.datetime-custom {
  height: 40px;
  font-size: 15px;
  width: 100%;
}

.full-container {
  width: 100%;
  margin: 10px;
}

.custom-form {
  display: flex;
  justify-content: center;
}

.btn-switch {
  margin: 0 10px;
}

.btn:focus,
.btn:active:focus,
.btn {
  outline: none;
  border: 1px solid transparent;
}

.btn-complete {
  height: 50px;
  font-size: 18px;
  width: 100%;
}

.flatpickr-input {
  text-align: center;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.half-container {
  width: 50%;
}