.category-list-wrapper {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .category-list {
    font-size: 26px;
    padding-top: 20px;
    width: 100%;

    .without-category {
      width: 100%;
      padding: 11px 0;
      cursor: pointer;
      font-weight: 600;
      color: #DE6C20
    }

    .user-category {
      overflow-y: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;

      .category {
        width: 100%;
        cursor: pointer;
        padding: 11px 0;
        font-weight: 400;
      }
    }

    .user-category::-webkit-scrollbar {
      display: none;
    }

    .without-category:hover,
    .category:hover {
      background-color: white;
    }

    .selected {
      background-color: white;
    }
  }

  .category-add {
    position: fixed;
    bottom: 60px;
    padding: 0;
    margin: 0;
    background-color: #e8e8e8;
    cursor: pointer;

    .button {
      text-align: center;
      padding: 13px 0 13px 0;
      font-size: 20px;
      font-weight: 200;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
  }
}


@media (min-width: $breakpoint-middle) and (max-width: $breakpoint-max) {
  .category-list-wrapper {
    .category-list {
      font-size: 18px;
    }

    .category-add {
      .button {
        font-size: 16px;
      }
    }
  }

}
