  {{#modal-dialog translucentOverlay=true
    targetAttachment='none'
    containerClass='centered-scrolling-container'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'}}
  <h1 class="header-text">Редактирование получателя</h1>
  <Acceptors::New @model={{model}}
    @onComplete={{route-action 'onComplete'}}
    @onClose={{route-action 'close'}}
  />
{{/modal-dialog}}
