<?php
/**
 * Class cfg
 * provided settings for project
 */

final class cfg{
    public static $siteconf = array(
        'host' => 'site.lo',
        'dbhost' => 'localhost',
        'dbname' => 'product',
        'dbuser' => 'root',
        'dbpass' => '1234'
    );

    public static $emailconf = array(
        'email' => 'emai@mail.com',
        'password' => '1234'
    );
}
