<div class="empty-list">
  <img class="empty-list-image" src="/assets/images/no_notify.png">
  <div class="empty-list-title">Список пуст</div>
  <div class="empty-list-message">Что-бы добавить запись - нажмите "+"</div>
</div>
