.user-settings {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .avatar-section {
    .avatar-image {
      width: 400px;
      height: 400px;
    }
  }
}


@media (max-width: $breakpoint-middle) {
  .user-settings {
    padding: 20px;

    .avatar-section {
      .avatar-image {
        width: 200px;
        height: 200px;
      }
    }
  }
}
