<div class="d-flex justify-content-start">
  <div>
    <NotifyList
            @notifyLists={{@model}}
            @selectedNotify={{this.selectedNotify}}
            @onSelectNotify={{this.onSelectNotify}}/>
  </div>
</div>