$breakpoint-alpha: 700px;

.buttons-bar {
  display: flex;
}

.btn {
  margin: 0 5px;
}

.rwd-table {
  margin: 1em 0;
  min-width: 300px;


  .buttons-bar {
    margin-left: -1em;
  }

  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }

  th {
    white-space: normal;
    display: none;

  }

  td {
    white-space: normal;

    display: block;

    &:first-child {
      padding-top: .5em;
    }

    &:last-child {
      padding-bottom: .5em;
    }

    &:before {
      content: attr(data-th);
      font-weight: bold;

      min-width: 10em;
      display: inline-block;

      @media (min-width: $breakpoint-alpha) {
        display: none;

      }

    }
  }

  th,
  td {
    text-align: left;
    font-size: 13px;

    @media (min-width: $breakpoint-alpha) {
      font-size: 16px;
      display: table-cell;
      padding: .25em .5em;

      &:first-child {
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }

    @media (min-width: 700px) and (max-width: 900px) {
      padding: 5px 2px !important;
      font-size: 13px;
    }

  }


}

.rwd-table {
  color: #000;
  border-radius: .4em;
  white-space: nowrap;
  width: 100%;

  tr {
    border-color: lighten(#ccc, 10%);
  }

  th,
  td {
    margin: .5em 1em;

    @media (min-width: $breakpoint-alpha) {
      padding: 1em;
    }
  }

  th,
  td:before {
    color: black;
  }
}
