{{#modal-dialog translucentOverlay=true
    targetAttachment='none'
    containerClass='centered-scrolling-container'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'}}
  <h1 class="header-text">Изменить уведомление</h1>
  <Notifications::New @model={{model}}
    @onComplete={{route-action 'onComplete'}}
    @onCancel={{route-action 'onClose'}} />
{{/modal-dialog}}