{{#modal-dialog translucentOverlay=true
    targetAttachment='none'
    containerClass='centered-scrolling-container modal-compact'
    overlayClass='centered-scrolling-overlay'
    wrapperClass='centered-scrolling-wrapper'}}
  <div class="header">Новая категория</div>
  <form class="custom-form">
    <div class="form-container">

      <div class="form-group">
        <label for="notify-name">Название</label>
        <Input type="text" class="form-control" id="notify-name" @value={{name}}/>
      </div>

      <div class="buttons-bar ">
        <button type="button" class="btn btn-secondary btn-complete" onclick={{action onCancel}}>
          Отменить
        </button>
        <button type="button" class="btn btn-primary btn-complete" onclick={{action onSave}}>
          Добавить
        </button>
      </div>
    </div>
  </form>
{{/modal-dialog}}
