<div class="form-group d-flex justify-content-center table-responsive">
  <table class="rwd-table">
    <tr>
      <th>#</th>
      <th>Тип</th>
      <th>Название</th>
      <th>Аккаунт</th>
      <th></th>
    </tr>
    <tr>
      <th data-th="# ">1</th>
      <td data-th="Тип: ">TG</td>
      <td data-th="Название: ">Телефон</td>
      <td data-th="Аккаунт: ">346861354848448</td>
      <td data-th="">отключить|включить удалить</td>
    </tr>
    <tr>
      <th data-th="# ">2</th>
      <td data-th="Тип: ">Email</td>
      <td data-th="Название: ">Рабочее мыло</td>
      <td data-th="Аккаунт: ">example@example.com</td>
      <td data-th="">отключить|включить удалить</td>
    </tr>
    <tr>
      <th data-th="# ">3</th>
      <td data-th="Тип: ">VK</td>
      <td data-th="Название: ">Страничка в ВК</td>
      <td data-th="Аккаунт: ">984848</td>
      <td data-th="">отключить|включить удалить</td>
    </tr>
  </table>
</div>