<div class="form-group d-flex justify-content-center table-responsive">
  <table class="rwd-table">
    <tr>
      <th>#</th>
      <th>Тип</th>
      <th>Название</th>
      <th>Аккаунт</th>
      <th></th>
    </tr>
      {{#each @model as | item|}}
      <tr>
        <th data-th="# ">{{item.id}}</th>
        <td data-th="Тип: ">{{item.type}}</td>
        <td data-th="Название: ">{{item.name}}</td>
        <td data-th="Аккаунт: ">{{item.account}}</td>
        <td data-th="">отключить|включить удалить</td>
      </tr>
      {{/each}}
  </table>
</div>
