@font-face {
  font-family: "MK-90";
  src: url(fonts/MK-90.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar {
  padding: 0 !important;
  position: fixed !important;
  width: 100%;
  top: 0;
}

.nav-backplate {
  position: relative !important;
  width: 100%;
  height: 55px;
}

.navbar-collapse.collapse.in {
  display: block !important;
}

.nav-name {
  font: normal normal normal 35px "MK-90";
  padding: 5px 0 5px 20px;
}

.bg-orange {
  background-color: #de6c20;
}

.logo {
  background: url(../assets/images/logo.png);
  min-width: 52px;
  min-height: 40px;
  background-size: cover;
  margin: 0px 17px 10px 10px;
}

.btn-navigation {
  display: inline-block;
  font-weight: 400;
  color: #292d2f;
  -moz-user-select: none;
  -ms-user-select: none;
  padding: 10px 10px;
  font-size: 18px !important;
  border: none;
  box-shadow: none;
  width: 150px;
  text-align: center;
}

.btn-navigation:hover {
  color: black;
  text-shadow: black 0 0 1px;
  text-decoration: none;
}

.nav-profile {
  padding: 0 20px 0 0;
  width: 170px;
  text-align: right;
  cursor: pointer;
}
